.Chat{
    width:100% ;
}
.Chat_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    border-top: 1px solid gray;
    background-color: rgb(161, 161, 161);
}
.Chat_msg{
    flex: 1;
}
.Chat_input > form > input{

padding: 15px;
background: transparent;
border: none;
outline-width: 0;
color: beige;
font-size: large;
width: 90%;

}
.Chat_input > form{
    flex: 1;
}
.Chat-buton{
    display: none;
}
.Chat_icons{
    padding: 15px;
    color: aliceblue;
    width: 30px;
    height: 30px;
}