.Container{
display:flex;
flex-direction: column;
align-items:flex-start;
justify-content:flex-start;
height:800px;
position: relative;
overflow-x: hidden;
}
.Container-image img{
    margin-left: 0px;
    position: fixed;
    z-index: -1;
    width: 100%;
}
.Container-detaiil img{
    width: 90%;
    height: 35%;
    margin-top: 15%;
    object-fit: contain;

}
.Container-detaiil{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* border:  solid 3px beige; */
    height: 90%;

}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-top: 0px;
    height: 20%;
    width: 100%;
    gap: 2%;
}
.button1{
width: 130px;
height: 45px;
text-align: center;
cursor: pointer;
border:none;
outline: none;
color: black;
background:rgba(255, 255, 255, 0);
border-radius: 5px;
font-weight: 500;
font-size: 18px;
display: flex;
align-items: center;
justify-content: center;

border: solid 2px rgb(94, 94, 94);

}
.button1:hover{
background:bisque;
color:black;
transform: scale(1.05);
border: none;

}
.button2:hover{
    background:rgb(255, 255, 255);
    opacity:1;
    color: black;
    z-index: 1;
    border: none;
    }
.button2{
width: 45px;
height:45px;
border-radius: 50%;
background: black;
cursor: pointer;
color: rgb(255, 255, 255);
font-size: 36px;
font-weight: 800;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
opacity: 0.6;
border:  rgb(77, 77, 77) solid 2.6px;
}

.traille{
    width: 180px;
}
.subtitle{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* border: 2px solid brown; */
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    flex-direction: column;
    height: 50%;
    gap:7%;
    padding-left: 15%;
}
.subtitle :first-child{
    font-size: 15px;
}
