.Detail{
display:flex;
flex-direction: column;
align-items:center;
justify-content:center;
background-image:url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/4F39B7E16726ECF419DD7C49E011DD95099AA20A962B0B10AA1881A70661CE45/scale?width=1440&aspectRatio=1.78&format=jpeg");
height:800px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.Detail-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5%;
    /* border:  solid 3px beige; */
    height: 20%;
    width: 100%;
    margin-left: 10%;
}
.button1{
width: 150px;
height: 45px;
text-align: center;
cursor: pointer;
border:  rgb(255, 255, 255) solid 2px;
outline: none;
color: rgb(255, 255, 255);
background:rgb(0, 0, 0);
border-radius: 5px;
font-weight: 500;
font-size: 18px;
display: flex;
align-items: center;
justify-content: center;
opacity: 0.76;


}
.button1:hover{
background:beige;
opacity: 0.66;
color: black;
z-index: 1;
}
.button2:hover{
    background:beige;
    opacity: 0.66;
    color: black;
    z-index: 1;
    }
.button2{
width: 45px;
height:45px;
border-radius: 50%;
border:  rgb(255, 255, 255) solid 2px;
background: black;
cursor: pointer;
color: rgb(255, 255, 255);
font-size: 36px;
font-weight: 800;
text-align: center;
display: flex;
align-items: center;
justify-content: center;


}
