.Messge{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
/* border: solid 2px rgb(255, 0, 0); */
gap: 20px;
margin-left: 10px;
margin-bottom: 15px;
margin-top: 10px;
width: 100%;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: bisque;
}
.messeg_sender{
color: rgb(255, 255, 255);
}
.massege_info h4{
    padding-top: 0;
    /* border: solid black 3px; */
}

.massege_info p{
    color: rgb(228, 228, 228);
    margin-top: 0;
   
    
}
.time_send{
    color: rgb(212, 211, 211);
    font-size:12px;
    font-style: italic;}