.Sidbarchannel :hover{
    color: rgb(255, 255, 255);
    background-color: rgb(179, 179, 179);
}
.Sidbarchannel >h3{
    display: flex;
    padding-left: 1px;
    align-items: center;
    border-color: rgb(121, 121, 121);
    color: rgb(34, 34, 34);
    cursor: pointer;
}
.Sidbarchannel_hash{
font-size: 30px;
padding: 8px;


}