/* *,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
} */
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

nav{
display: flex;
align-items: center;
justify-content: space-around;
background-color: rgb(69, 28, 218);
height: 8vh;
width: 100%;
}
.brand{
    text-transform: uppercase;
    font-weight: bold;

}
.nav-menu{
display: flex;
align-items: center;
justify-content: space-around;
gap: 3rem;

}
.nav__toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.1s ease-in;
    
  }
  
  .nav__toggler{
      display: none;
      cursor: pointer;
  }
  @media only screen and (max-width: 500px) {
    .nav__toggler{
        display: block;    
    }

nav{
  display: flex;
  flex-direction: row-reverse;
}


    .nav-menu{
    position: fixed;
    top: 2%;
    left: 0%;
    width: 10%;
    height:800px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    padding-top: 50px;
    gap: 70px;
    background-color: black;
    transform: translateX(-100%);
    z-index: 1000;
    }

    .nav-active{
    transform: translateX(0%);
    transition: 0.5s;
    transition-delay: 0.3s;}
  }
  .toglle .line1{

transform: rotate(-45deg) translate(-4px,5px);
  }
  .toglle .line2{
opacity: 0;
    
  }
  .toglle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
    
  }

 