.Viewers{
display: flex;
max-width: 80%;
height: 20%;
align-items: center;
justify-content: center;
gap: 3%;
 margin-top:2%; 
}


.Viewers-image img{
width: 7%;
height:70%;
cursor: pointer;
object-fit: contain;
  transition: transform 450ms;
  background: rgb(32, 32, 57);
  border-radius: 16px;
border: solid rgb(110, 110, 110) ; 

}

.Viewers-image img:hover{
   
transform: scale(1.08);



}


.Viewers-image img {
width: 100%;
object-fit: contain;

}