.Viewers{
display: flex;
max-width: 80%;
height: 20%;
/* border:  solid bisque 2px; */
align-items: center;
justify-content: center;
gap: 3%;
 margin-top:2%; 
/* margin-left: 2.5%;  */
/* padding-left: 3%; */

}


.Viewers-image img{
width: 7%;
height:70%;
cursor: pointer;
object-fit: contain;
  transition: transform 450ms;
  background: rgb(32, 32, 57);
  border-radius: 16px;
  z-index: 999;
  /* margin-top: 10%; */

}

.Viewers-image img:hover{
   
transform: scale(1.08);
border: bisque solid 2px;
/* border-radius: 16px; */

}


.Viewers-image img {
width: 100%;
object-fit: contain;

}